{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^[a-z]",
    "^@nestjs/(.*)$",
    "^@src/(.*)$",
    "^@libs/(.*)$",
    "^@modules/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}